<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    
    </startup>
    <connectionStrings>
        <add name="connstringT" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=|DataDirectory|\GARDINIATABLES.MDF;Initial Catalog=GardiniaTables;Integrated Security=True"
            providerName="System.Data.OleDb" />
        <add name="connstring" connectionString="Provider=Microsoft.ACE.OleDb.12.0;Data Source=\\ArchDB.accdb;Persist Security Info=false" />
    </connectionStrings>
</configuration>